{% extends 'base.html.twig' %}
{% block title %}Edit User
{% endblock %}

{% block body %}
	<div class="card mb-2">
		<div
			class="card-body">

			{# <h1 class="card-title">Edit User Information (admin feature)</h1> #}


			{{ form_start(form) }}
			{# {{ form_widget(form) }} #}

			<div class="card text-black bg-light mb-3 col-4 mx-auto">
				<div class="card-header">Edit User Information (admin feature)</div>
				<div class="card-body">
					{{ form_label(form.name)}}
					{{ form_widget(form.name, {'attr': {'class':'form-control', 'value': user.name}  })  }}
					{{ form_label(form.email)}}
					{{ form_widget(form.email, {'attr': {'class':'form-control', 'value': user.email}  })  }}
					{{ form_widget(form._token) }}
				</div>
			</div>

			<div class="card text-white bg-warning mb-3 col-4 mx-auto">
				<div class="card-header">User Information - For Admins Only</div>
				<div class="card-body">
					{{ form_label(form.email_is_verified)}}
					{{ form_widget(form.email_is_verified, {'attr': {'value': user.emailIsVerified}  })  }}
					{{ form_label(form.is_admin)}}
					{{ form_widget(form.is_admin, {'attr': {'value': user.isAdmin}  })  }}
				</div>
			</div>

			<div class="row">
				<button class="btn btn-primary col-1 mx-auto">{{ button_label|default('Save') }}</button>
			</div>

			<div class="row">
				<a class="btn btn-secondary mt-2 col-1 mx-auto" href="{{ path('user_index') }}">Back To Users List</a>
			</div>

			<div class="row">
				<div
					class="mx-auto">{# {{ include('user/_delete_form.html.twig') }} #}
				</div>
			</div>

			{{ form_errors(form) }}
			{{ form_end(form, {'render_rest': false}) }}


		</div>
	</div>
{% endblock %}
