{% extends 'base.html.twig' %}

{% block title %}New Quiz
{% endblock %}

{% form_theme form _self %}


{% block body %}
{{ include('includes/danger_flash.html.twig') }}

	<div class="card mb-2">
		<div class="card-body">
			<h1 class="card-title">Create new Quiz</h1>
			<a class='btn btn-secondary mb-2' href="{{ path('quiz_index') }}">Back to List</a>

			{{ include('quiz/_form.html.twig') }}

		</div>
	</div>
{% endblock %}

{% block _quiz_questions_widget %}
	{{ form_widget(form) }}
{% endblock %}


{% block _quiz_questions_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _quiz_questions_entry_widget %}
	{{ include('quiz/_quiz_question_widget.html.twig') }}
{% endblock %}
