{% extends 'base.html.twig' %}

{% block title %}New Quiz
{% endblock %}

{% form_theme form _self %}


{% block body %}

	<div class="card mb-2" >
		<div class="card-body">		
			{# <h1 class="card-title">Create New Quiz of {{ nbr }} questions</h1> #}
				<a class='btn btn-secondary mb-2 mr-2' href="{{ path('quiz_index') }}">Back to List</a>
				<a class='btn btn-light mb-2' href="{{ path('quiz_new') }}">Change number of questions</a>

			{{ include('quiz/_form.html.twig') }}

		</div>
	</div>
{% endblock %}

{% block _quiz_questions_widget %}
	{{ form_widget(form) }}
{% endblock %}


{% block _quiz_questions_entry_row %}
	{{ form_widget(form) }}
{% endblock %}

{% block _quiz_questions_entry_widget %}
	{{ include('quiz/_quiz_question_widget.html.twig') }}
{% endblock %}
