{% extends 'base.html.twig' %}

{% block header %}
{% include "includes/header.html.twig" %}
{% endblock %}

{% block title %}Quiz
{% endblock %}

{% block body %}
	<h1>Quiz</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ quiz.id }}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{ quiz.name }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ quiz.slug }}</td>
			</tr>
			<tr>
				<th>Data</th>
				<td>{{ quiz.data }}</td>
			</tr>
			<tr>
				<th>Created_at</th>
				<td>{{ quiz.createdAt ? quiz.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Updated_at</th>
				<td>{{ quiz.updatedAt ? quiz.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

<div class="d-flex flex-row bd-highlight mb-3">
	<a class='btn btn-secondary mr-2'  href="{{ path('quiz_index') }}">Back To List</a>
	<br>
	<a class='btn btn-success mr-2'  href="{{ path('quiz_play', {'id': quiz.id}) }}">Play</a>
	<br>
	<a class='btn btn-secondary'  href="{{ path('quiz_edit', {'id': quiz.id}) }}">Edit</a>
</div>

	{{ include('quiz/_delete_form.html.twig') }}
{% endblock %}
