{% extends 'base.html.twig' %}

{% block title %}Update Password
{% endblock %}

{% form_theme form _self %}

{% block body %}
	<div class="card mb-2">
		<div class="card-body">
			<h1 class="card-title">Update Password</h1>

			{{ form_start(form) }}
			<div class="form-group">
				{{ form_widget(form) }}
				<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
			</div>
			{{ form_end(form) }}
			
			<a class='btn btn-secondary mt-1' href="{{ path('user_index') }}">Back to Users List</a>
		</div>
	</div>
{% endblock %}
